.window-container {
    background-color: rgb(58, 52, 52);
    color: rgb(141, 132, 132);
    padding: 10px;
    float: left;
    border: 1px solid rgb(199, 188, 188);
}

body {
    background-color: black;
}

.window-title {
    color: rgb(193, 211, 129);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slide-in-right.animate {
    position: relative;
    animation-name: slide-in-right;
    animation-duration: 500ms;
}

@keyframes slide-in-right {
    from {left: 100%;}
    to {left: 0%;}
}